html,body{
    width: 100%;
    height: 100%;  
}
.header-box{
    background-image: url("../images/header-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 640px;
    width: 100%;
    
}
.logo{
    display: inline-block;
    margin-left: 136px;
}
.a-logo{
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    
}
.hamburger{
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}
.hamburger:focus{
    outline: none;
}
.nav-header-navigation-links{
    display: inline-block;
    margin-right: 200px;
}
.nav-header-navigation{
    display: inline-block;
}

.header-navigarion{
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.login{
    display: inline-block;
    margin-right: 143px;
    
    
}
.a-login{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    margin: 45px;
    font-family: "bold700";
    
}
.become-member-button{
    width: 220px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-family: "bold700";
}


.li-header-navigation{
    display: inline-block;
}
.a-header-navigation{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    margin-left: 10.5px;
    margin-right: 10.5px;
    font-family: "semi600";
}
.header-image-absolute-text{
    width: 100%;
    height: 566px;
    margin-left: auto;
    margin-right: auto;
    

}
.header-h1-text{
    font-size: 58px;
    color: #ffffff;
    margin-top: 112px;
    font-family: "extra800";
    margin-left: 40px;
}
.header-p-text{
    color: #ffffff;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: "med500";
    margin-left: 40px;
}
.get-quote-now-button{
    width: 187px;
    height: 52px;
    background: #23A6F0;
    border-radius: 37px;
    border: none;
    margin-right: 5px;
    color: #ffffff;
    font-family: "med500";
    margin-left: 40px;
}
.leatn-more-button{
    width: 157px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 37px;
    background: none;
    margin-left: 5px;
    color: #ffffff;
    font-family: "med500";
    margin-left: 40px;
    
    
    
}






/*----------------features-------------*/




.features{
    width: 100%;
    height: 435px;
    background-color: #252B42;
    text-align: center;
}
.features-box{
    width: 100%;
    height: 435.29px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    
    

}
.features-cards{
    width: 1046px;
    height: 243.29px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.card-1{
    width: 325px;
    height: 243.29px;
}
.h1-card{
    color: #ffffff;
    font-size: 16px;
    margin-top: 34px;
    font-family: "bold700";
    
}
.p-card{
    color: #ffffff;
    margin-top: 17px;
    font-family: "med500";
}



/*----------------industry-------------*/

.industry{
    background-color: #8EC2F2;
}
.industry-box{
    width: 100%;
    height: 772px;
    margin: auto;

}
.title-industry{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    padding-top: 112px;
    font-family: "bold700";
}
.p-title-industry-desc{
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    font-family: "med500";
}
.industry-card{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
}
.industry-card-content-txt{
    margin-left: 40px;
    margin-top: 30px;
}

.industry-card-content{
    display: inline-block;
    background-color: #ffffff;
    width: 450px;
    height: 288.01px;
    position: relative;
}
.h1-name{
    font-size: 24px;
    color: #252B42;
    font-family: "bold700";
}
.p-special{
    font-size: 14px;
    color: #737373;
    margin-top: 15px;
    font-family: "semi600";
}
.star-icon{
    margin-top: 15px;
}
.p-industry-card-content{
    color: #737373;
    margin-top: 15px;
    font-family: "med500";
}
.card-avatar{
    position: absolute;
    left: -40px;
    top: 20px;
}


/*----------------industry2-------------*/



.industry2{
    background-color: #252B42;
    
    width: 100%;
}
.industry2-box{
    width: 100%;
    height: 879px;
    position: relative;
    
    

}

.title-industry2{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    padding-top: 112px;
    font-family: "bold700";
}
.p-title-industry2-desc{
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    font-family: "med500";
}
.industry2-card{
    display: flex;
    margin-top: 90px;
    justify-content: space-around;
    width: 100%;
    
    
    
}

.industry-card-images{
    width: 331px;
    height: 452px;
    position: relative;
}
.description-image-industry{
    position: absolute;
    bottom: 155px;
    margin-left: 20px;
    
}

.h1-name2-industry{
    font-size: 14px;
    color: #ffffff;
    font-family: "semi600";

}
.p-industry2-card-content{
    font-size: 20px;
    color: #ffffff;
    margin-top: 15px;
    font-family: "med500";
}
.button-on-images-industry-card{
    width: 165px;
    height: 42px;
    background: #23A6F0;
    border-radius: 37px;
    border: none;
    color: #ffffff;
    margin-top: 15px;
    font-family: "bold700";
}


/*----------------pricing-------------*/

.pricing{
    background-color: #252B42;
    position: relative;
}
.pricing-box{
    width: 100%;
    height: 1155px;
   
    

}
.title-pricing{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    padding-top: 112px;
    font-family: "bold700";
}
.p-title-pricing-desc{
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    font-family: "med500";
}

.pricing-card{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.pricing-card-content{
    width: 327px;
    height: 744px;
    background-color: #ffffff;
    margin: 0px 15px 0px 15px;
    text-align: center;
    border-radius: 10px;
    border: none;
    position: relative;
}
.h1-name2{
    font-size: 24px;
    color: #252B42;
    margin-top: 50px;
    font-family: "bold700";
}
.p-pricing-card-content{
    font-size: 16px;
    color: #737373;
    margin-top: 35px;
    font-family: "bold700";
}
.cost{
    font-size: 40px;
    color: #23A6F0;
    margin-top: 35px;
    font-family: "bold700";
}
.p-month{
    font-size: 16px;
    color: #8EC2F2;
    font-family: "bold700";
    
}
.button-on-images-price-card{
    height: 52px;
    width: 246px;
    margin-top: 35px;
    background: #23A6F0;
    border-radius: 5px;
    font-family: "bold700";
    border: none;
    color: #ffffff;
    
}
.price-images{
    margin-top: 36px;
    
}
.new-icon{
    position: absolute;
    top: -30px;
    right: 20px;
}

/*----------------contact-------------*/
.contact{
    background-image: url("../images/contact-cover.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 670px;
    width: 100%;
    
    
    
}
.contact-box{
    width: 1050px;
    height: 670px;
    margin: 0px auto 0px auto;
    
    
    
}
.input-name{
    width: 296px;
    height: 50px;
    margin-right: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    
}
.input-email{
    width: 296px;
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.choose-country{
    width: 302px;
    height: 50px;
    margin-right: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.choose-country2{
    width: 302px;
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    
}
.subject-box{
    width: 625px;
    height: 140px;
    margin-top: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;

}
.h2-contact{
    padding-top: 90px;
    font-size: 16px;
    color: #252B42;
    font-family: "bold700";
    
}
.h1-contact{
    margin-top: 5px;
    font-size: 40px;
    color: #252B42;
    font-family: "bold700";
}
.button-submit{
    width: 224px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    color: #ffffff;
    font-family: "bold700";
}
.input-boxs{
    margin-top: 40px;
}
.choose-boxs{
    margin-top: 20px;
}


/*----------------colsuting-------------*/
.colsuting{
    width: 100%;
    height: 142px;
    
}
.colsuting-box{
    width: 100%;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(25%);
    
}
.colsunting-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
       
}
.h1-colsuting-card-text{
    font-size: 24px;
    font-family: "bold700";
    
}
.p-colsuting-card-text{
    font-size: 14px;
    color: #737373;
    margin-top: 5px;
    font-family: "bold700";
    
}
.contact-button{
    width: 163px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    margin: 0 36.5px 0 36.5px;
    font-family: "bold700";
}


/*----------------footer-------------*/
.footer-box{
    width: 100%;
    height: 272px;
    background-color: #252B42;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.a-card-footer{
    text-decoration: none;
    color: #ffffff;
}
.h1-card-name{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: "bold700";
}
.li-card-footer{
    margin: 5px 0px 5px 0px;
}
.a-card-footer{
    font-size: 14px;
    font-family: "semi600";
}
.img-footer{
    display: inline-block;
    vertical-align: middle;
}
.p-footer{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-family: "semi600";
    
}
.card-5-content{
    margin: 5px 0px 5px 0px;

}

/*----------------end-------------*/
.end{
    width: 100%;
    height: 74px;
    
    
}
.end-box{
    width: 100%;
    height: 74px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;



}
.h1-end{
    font-size: 14px;
    color: #737373;
    font-family: "semi600";
}
.soccial-icon{
    margin: 0px 20px 0px 20px;
}
.nav-active{
    transform: translateY(0%);
}

